AntDesign is an open source control set for Blazor.

This is a simple select
<AntDesign.Select Style="width:120px;" 
        DataSource="@SimpleSelectOptionList"
        @bind-Value="@_selectedValue"
        LabelName="@nameof(MyGenericLookupClass<int>.DisplayValue)"
        ValueName="@nameof(MyGenericLookupClass<int>.KeyValue)"
        EnableSearch
        OnBlur="OnBlur"
        OnFocus="OnFocus"
        OnSelectedItemChanged="OnSelectedItemChangedHandler"
        OnSearch="OnSearch">
</AntDesign.Select>
<br />
<br />
<p>
    Selected Value: @_selectedValue <br />
    Selected Item Name: @_selectedItem?.DisplayValue
</p>



@code {
    private List<MyGenericLookupClass<int>> SimpleSelectOptionList { get; set; }
    int _selectedValue;
    MyGenericLookupClass<int> _selectedItem;


    private void OnSelectedItemChangedHandler(MyGenericLookupClass<int> value)
    {
        _selectedItem = value;
        Console.WriteLine($"selected: ${value?.DisplayValue}");
    }

    private void OnBlur()
    {
        Console.WriteLine("blur");
    }

    private void OnFocus()
    {
        Console.WriteLine("focus");
    }

    private void OnSearch(string value)
    {
        Console.WriteLine($"search: {value}");
    }

    protected override void OnInitialized()
    {
        SimpleSelectOptionList = new List<MyGenericLookupClass<int>>();
        SimpleSelectOptionList.Add(new MyGenericLookupClass<int>() { KeyValue = 1, DisplayValue = "label aa 1" });
        SimpleSelectOptionList.Add(new MyGenericLookupClass<int>() { KeyValue = 2, DisplayValue = "label aa 2" });
        SimpleSelectOptionList.Add(new MyGenericLookupClass<int>() { KeyValue = 3, DisplayValue = "label aa 3" });
        SimpleSelectOptionList.Add(new MyGenericLookupClass<int>() { KeyValue = 4, DisplayValue = "label bb 4" });
        SimpleSelectOptionList.Add(new MyGenericLookupClass<int>() { KeyValue = 5, DisplayValue = "label bb 5" });
        SimpleSelectOptionList.Add(new MyGenericLookupClass<int>() { KeyValue = 6, DisplayValue = "label cc 6" });

        _selectedValue = 3;

    }


    void handleChange(string value)
    {
        Console.WriteLine(value);
    }

}
