<br />
<br />

<button class="btn btn-primary" @onclick="AddLineItem">Add a Line Item from bottom child component</button>
<button class="btn btn-primary" @onclick="TellParentFormToRefresh">Tell Parent to refresh from bottom child component</button>

@if (MyCascadedOrder != null)
{

    @foreach (var line in MyCascadedOrder.LineItems)
    {
        <br />
        <label>I'm on the bottom</label>
        <label> Quantity</label>
        <input type="text" @bind=line.Quantity />
        <label> name</label>
        <input type="text" @bind=line.ItemName />
    }

}

@code {

    [CascadingParameter(Name = "MyOrder")] Order MyCascadedOrder { get; set; }
    [Parameter] public Action UpdateParentFormCallback { get; set; }

    private void AddLineItem()
    {
        MyCascadedOrder.AddLineItem();
    }


    private void TellParentFormToRefresh()
    {
        UpdateParentFormCallback?.Invoke();
    }

}
