

@if (CurrentItemAdapter != null)
{
    <div class="row form-row">
        <input type="text" style="width: 40px; text-align: right;" title="Number of Doors" @bind=CurrentItemAdapter.Name />
        <input type="text" style="width: 80px; text-align: right;" title="Width" @bind=CurrentItemAdapter.Quantity  />
        <input type="checkbox" title="Custom" @bind=CurrentItemAdapter.BoolVal />
        <input type="text"  title="Notes" @bind=CurrentItemAdapter.CreateDate/>
    </div>

}


@code{
    [Parameter] public GridDetailItemAdapter CurrentItemAdapter { get; set; }

}
