<h3>GridViewTestPage</h3>


<GridView ItemList=@Data.Items></GridView>


@code {


    private ViewDataContainer Data { get; set; } = new ViewDataContainer();

    public int SelectedCode { get; set; } = 1;

    public Dictionary<int, string> PossibleStates { get; set; } = new Dictionary<int, string>();

    int multiStateVal = 2;

    protected override void OnInitialized()
    {

    }
}
